:root{
	--MAIN-TEXT-color:#5C566A; /* Color of text by default */
   --MAIN-TITLES-TEXT-color: #5C566A; /* Color of titles h2-h3-h4-h5 */
   --MAIN-LINK-color:#ED6758; /* Color of links */
   --MAIN-LINK-HOVER-color:#CF5A4D; /* Color of hovered links */
   --MAIN-ANCHOR-color: #ED6758; /* color of anchors on titles */
   --MENU-HEADER-BG-color:#5C566A; /* Background color of menu header */
   --MENU-HEADER-BORDER-color:#5C566A; /*Color of menu header border */
   --MENU-TOP-BG-color:#5C566A;
	--MENU-SEARCH-BG-color:#696D7D; /* Search field background color (by default borders + icons) */
   --MENU-SEARCH-BOX-color: #696D7D; /* Override search field border color */
   --MENU-SEARCH-BOX-ICONS-color: #A5A7B1; /* Override search field icons color */
   --MENU-SECTIONS-ACTIVE-BG-color:#fff; /* Background color of the active section and its childs */
   --MENU-SECTIONS-BG-color:#f6f6f6; /* Background color of other sections */
   --MENU-SECTIONS-LINK-color: #666; /* Color of links in menu */
   --MENU-SECTIONS-LINK-HOVER-color: #9B1B3A;  /* Color of links in menu, when hovered */
   --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
   --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */
   --MENU-VISITED-color: #4c90fe; /* Color of 'page visited' icons in menu */
   --MENU-SECTION-HR-color: rgba(50, 50, 50, 0.1); /* Color of <hr> separator in menu */
}

/*//----- MAIN CONTENT AREA -----//*/

body {
   color: var(--MAIN-TEXT-color) !important;
   background-color:#F5F5F5;
   font-family: 'Lato', sans-serif;
   font-size:15px!important;
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
   border-color: none;
   box-shadow: none;
}

dl {
	margin:30px 0 50px 0;
}

dt {
	font-weight:900;
}

h1, h2, h3, h4, h5, h6 {
   color: var(--MAIN-TITLES-TEXT-color) !important;
   font-family: 'Lato', sans-serif;
   letter-spacing:0px;
}

h1 {
	margin:50px 0 50px 0!important;
	font-weight:normal;
	text-align: left;
	font-size:42px;
	line-height:120%!important;
}

h2 {
	font-size:30px;
	font-weight:normal;
	margin:30px 0 20px 0!important;
	line-height:120%!important;
}

h3 {
	font-size:20px;
	margin:30px 0 15px 0!important;
	line-height:120%!important;
	font-weight:700;
}

h4 {
	font-size:17px;
	font-weight:700;
	margin:30px 0 10px 0!important;
	line-height:120%!important;
}

h5 {
	font-size:15px;
	font-weight:900;
	margin:30px 0 5px 0!important;
	line-height:120%!important;
}

h6 {
	font-size:15px;
	font-weight:900;
	margin:30px 0 10px 0!important;
	line-height:120%!important;
}

a {
   color: var(--MAIN-LINK-color);
}

.anchor {
   color: var(--MAIN-ANCHOR-color);
}

a:hover {
   color: var(--MAIN-LINK-HOVER-color);
}

table {
	border-top:1px solid #D8D8D8;
	border-bottom:1px solid #D8D8D8;
	border-left:1px solid #D8D8D8;
	background-color:#fff;
}

table caption {
	font-size:14px;
	padding-bottom:10px;
	font-style:italic;
}

/* these styles are built especially for the Compatibility Matrix page tables: */
[id*="smaller-table-spacing"] {
        line-height: 0;
        max-width: 600px;
}
[id*="smaller-table-spacing"] p {
        margin-top: 8px;
        margin-bottom: 8px;
}

thead {
	background-color:#ECEBEB;
}

th {
	background-color:#ECEBEB;
	border:none;
}

td {
	border:none;
	border-top:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
	padding:7px;
}

blockquote {
	border-left: 3px solid var(--MENU-HEADER-BG-color);
	margin: 40px 0px;
	padding:30px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: var(--MENU-HEADER-BG-color);
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

#body {
	float:left;
   width:75%;
   margin-right:0;
}

#body.padding {
	padding:20px 10% 20px 10%;
}

#body-inner {
	margin-bottom:30px;
	float:left;
	width:100%;
}

#body .nav {
   position: fixed;
   top: 10%;
   height: 90%;
   font-size:0px;
}

#body .nav:hover {
   background: transparent;
}

#body .nav > i {
	background-color:transparent;
}

#body .nav > i:hover {
	background-color: transparent;
}

#body .nav.nav-next {
   right: 25%;
   background-image: url('../images/arrow_next.png');
   background-position: center center;
   background-repeat: no-repeat;
   opacity:0.4;
}

#body .nav.nav-next:hover {
	opacity:1;
}

#body .nav.nav-prev {
	background-image: url('../images/arrow_prev.png');
   background-position: center center;
   background-repeat: no-repeat;
   opacity:0.4;
}

#body .nav.nav-prev:hover {
	opacity:1;
}

#body a.highlight:after {
   display: block;
   content: "";
   height: 1px;
   width: 0%;
   -webkit-transition: width 0.5s ease;
   -moz-transition: width 0.5s ease;
   -ms-transition: width 0.5s ease;
   transition: width 0.5s ease;
   background-color: var(--MAIN-HOVER-color);
}

.sticky-spacer {
	float:left!important;
	width:100%!important;
	background-color:green;
	height:auto!important;
}

#top-bar {
	background-color:#fff;
   border-radius: 0px;
   margin: 0;
   padding: 18px;
   float:left;
   width:100%;
	min-height:inherit;
	border:1px solid #BEBEBE;
	font-size:12px;
}

#body #breadcrumbs span a {
	border-bottom:1px dotted var(--MAIN-LINK-color);
}

#body #breadcrumbs span a:hover {
	border-bottom:1px solid var(--MAIN-LINK-HOVER-color);
}

#top-github-link a {
	border-bottom:1px dotted var(--MAIN-LINK-color);
}

#top-github-link a:hover {
	border-bottom:1px solid var(--MAIN-LINK-HOVER-color);
}

#chapter {
	display: block;
}

#body #breadcrumbs #toc-menu {
	display:none;
}

.content {
	padding:0;
	margin:0 0 0 0;
}

.pre {
	background-color:#44404F;
}

pre {
	background-color:#44404F;
	margin:0 0 2rem 0;
}

pre .hljs {
	background-color:#44404F;
}

.copy-to-clipboard {
	background-color:#F4DFDD;
}

.copy-to-clipboard:hover {
	background-color:#F4DFDD;
}

pre .copy-to-clipboard {
	background-color:#fff;
}

pre .copy-to-clipboard:hover {
	background-color:#F4DFDD;
}

code {
	background-color:#F4DFDD;
}

hr {
	border-bottom:4px solid #E9E6E6;
}




div.notices {
    margin: 2rem 0;
    position: relative;
}
div.notices p {
    padding: 15px;
    display: block;
    font-size: 1rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color: #666;
}
div.notices p:first-child:before {
    position: absolute;
    top: 2px;
    color: #fff;
    font-family: FontAwesome;
    content: '';
    left: 10px;
}
div.notices p:first-child:after {
    position: absolute;
    top: 2px;
    color: #fff;
    left: 2rem;
}
div.notices.info p {
    border-top: 30px solid #F0B37E;
    background: #FFF2DB;
}
div.notices.info p:first-child:after {
    content: 'Info';
}
div.notices.warning p {
    border-top: 30px solid rgba(217, 83, 79, 0.8);
    background: #FAE2E2;
}
div.notices.warning p:first-child:after {
    content: 'Warning';
}
div.notices.note p {
    border-top: 30px solid #6AB0DE;
    background: #E7F2FA;
}
div.notices.note p:first-child:after {
    content: 'Note';
}
div.notices.tip p {
    border-top: 30px solid rgba(92, 184, 92, 0.8);
    background: #E6F9E6;
}
div.notices.tip p:first-child:after {
    content: 'Tip';
}

.listingblock .title {
	font-size:15px;
	font-weight:900;
	margin:30px 0 0px 0;
	line-height:120%;
	background-color:#ECEBEB;
	padding:10px;
	border-left:1px solid #D8D8D8;
	border-top:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}



/*//-- WEB MENU --//*/

nav.webnav.mini {
	display: none;
}

nav.webnav {
	z-index:9999;
	font-family: 'Lato', sans-serif;
	float:left;
	width:75%;
	background-color: var(--MENU-TOP-BG-color);
	position:relative;
}

nav.webnav ul li:hover > ul {
	display:block;
}

nav.webnav ul {
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0;
	background-color:#5C566A;
	font-size:16px;
	text-align: center;
}

nav.webnav > ul {
	width:100%;
}

nav.webnav ul li {
	position:relative;
	border-top:2px solid #5C566A;
	display: inline-block;
	margin:0;
	padding:0;
}

nav.webnav ul li a {
	display:block;
	color:#fff;
	text-decoration:none;
	padding:27px 15px;
}

nav.webnav ul li.current-menu-item {
	border-top:2px solid #dc6254;
}

nav.webnav ul li.current-menu-item a {
	color:#dc6254;
}

nav.webnav ul li:hover {
	background:#fff;
	border-top:2px solid #dc6254;
}

nav.webnav ul li:hover a {
	color:#5c566b;
}

nav.webnav ul ul {
	display:none;	
	position:absolute;
	top:100%;
	left:0;
	padding:0;
	background-color:#fff;
	border-top:2px solid #dc6254;
	font-size:14px;
	text-align:left;
}

nav.webnav ul ul li {
	float:none;
	width:200px;
	border-top:none;	
}

nav.webnav ul ul li a {
	padding:8px 15px;
}

nav.webnav ul ul li:hover {
	border-top:none;
	background-color:#dc6254;
}

nav.webnav ul ul li:hover > a {
	color:#fff;
}

nav.webnav ul ul ul {
	top:-2px;
	left:100%;
	background-color:#fff;
	font-size:14px;
}

nav.webnav li.download a {
	background-color:#dc6254;
	text-transform: uppercase;
	border-radius:5px;
	padding:5px 10px;
	font-size:13px;
}

nav.webnav li.download:hover {
	background-color:#5c566b;
	border-top-color: #5c566b;
}

nav.webnav li.download:hover a {
	color:#dc6254;
	background-color: #fff;
}








/*//----- MENU -----//*/

#topmenu {
	float:left;
	width:75%;
	font-size:14px;
	text-align: center;
}

#topmenu ul.menu_mobile {
	display: none;
}

#topmenu ul {
	list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: var(--MENU-TOP-BG-color);
   background-color:#DE6150;
}

#topmenu li {
   display:inline-block;   
   letter-spacing:1px;
   font-size:13px;
}

#topmenu li.guide_start {
	padding: 15px 2px 15px 15px;
	color:#fff;
	font-weight:300;
}

#topmenu li.guide_end {
	
}

#topmenu li.guide {
	background-color:#BD5244;
}

#topmenu li a {
   display: inline-block;
   color: #fff;
   text-align: center;
   text-decoration: none;
   padding: 15px 13px;
}

#topmenu li:hover {
   background-color: var(--MAIN-LINK-color);
   background-color:#FA7564;
}

#topmenu li.guide_start:hover {
   background-color:#BD5244;
 
}


/*//----- SIDEBAR -----//*/

#shortcuts {
	display:none;
}

#prefooter hr {
	margin:0 0 40px 0;
	padding:0;
}

#prefooter ul li {
	float:left;
	width:100%;
	margin-bottom:10px;
}

#prefooter ul li i {
	float:left;
	width:20px;
	margin-right:10px;
	margin-top:2px;
}

#prefooter .select-style {
	float: left;
	position:relative;
}

select::-ms-expand {
     display: none;
}
 
#prefooter .select-style:after {
  content: '>';
  font: 15px monospace;
  color: #CACACA;
  font-weight:bold;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 11px;
  top: 3px;
  padding: 0 0 2px;
  border-bottom: 1px solid #CACACA;  
  position: absolute;
  pointer-events: none;
}
 
#prefooter .select-style select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  max-width: 320px;
  height: 25px;
  float: right;
  margin: 0px;
  padding: 0px;
  font-size: 13px;
  line-height: 25px;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #CACACA;
  -ms-word-break: normal;
  word-break: normal;
  border-radius:3px;
}

.select-style svg {
	width:1px;
}

.fa-language::before {
	float:left;
	width:10%;
	font-size:20px;
	padding-bottom:2px;	
}

.fa-history::before {
	float:left;
	width:10%;
	font-size:20px;
	padding-bottom:2px;
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
	float:right;
	width:25%;
}

#sidebar ul.topics {
	margin:0;
	background-color:#ECEBEB;
	padding-bottom:20px;
	padding-top:20px;
}

#sidebar ul li {
	display:block;
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MAIN-LINK-color);
}

#sidebar .highlightable {
	border-left:1px solid #D8D8D8;
	padding:0;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	margin:0;
	padding:0;
}

#sidebar ul li.active > a {
	margin:0;
	padding:3px 15px;
}

#sidebar ul li > a {
	padding:0;	
}

#sidebar ul.topics > li > a {
	font-size:17px;
}

#sidebar ul li a {
	padding:3px 15px;
}

#sidebar ul li li a {
	padding:3px 15px 3px 30px;
}

#sidebar ul li li li {
        margin-left: 15px;
}
#sidebar ul li li {
        //margin-left: 10px;
	text-indent: 0;
	padding-left:0;
	font-size:14px;
}

#sidebar ul li.active > a {
	padding:3px 15px 3px 30px;
	border-top:1px solid #ECEBEB;
}

#sidebar ul > li.active > a {
	padding:3px 15px;
	border:none;
}

#sidebar ul > li li.active > a {
	padding:3px 15px 3px 30px;
	border-top:1px solid #ECEBEB;
}

#sidebar ul.topics li.parent ul, #sidebar ul.topics > li.active ul {
	background-color:#ECEBEB;
}
 
#sidebar #header-wrapper {
   background: var(--MENU-HEADER-BG-color);
   color: var(--MENU-SEARCH-BOX-color);
   border:none;
}

#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
   background: var(--MENU-SEARCH-BG-color);
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
   background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}

#sidebar .searchbox {
   color:#DFE2F0;
}

#sidebar .searchbox label, #sidebar .searchbox i {
	color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar a {
   color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
   color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
   background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
   color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
   border-color: var(--MENU-SECTION-HR-color);
}

#sidebar #logo img {
	width:198px;
	-webkit-transition: width 0.5s ease;
   -moz-transition: width 0.5s ease;
   -ms-transition: width 0.5s ease;
   transition: width 0.5s ease;
}

#footer {
	float:left;
	width:100%;
	padding:3rem 0;
}

/*/ HOMEPAGE /*/


/* TITLE */

.home-title-wrap {
	background-color:#F4EBE9;
	background-image: url('../images/home-title-bg.png');
	background-repeat: no-repeat;
	background-position: 97% 10px;
	background-size: 65px auto;
	border-radius:5px;
	padding:15px 4%;
	float:left;
	width:100%;
	margin-bottom:20px;
}

.home-title-wrap p {
	float:left;
	width:100%;
}

h1.home-title {
	float:left;
	width:100%;
	background-image: url('../images/home-title-h1-bg.png');
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 55px 55px;
	padding:12px 0 12px 80px;
	margin:0!important;
	font-size:29px;
}

.home-ctas {
	float:left;
	width:100%;
	margin-bottom:25px;
	display: -webkit-flex; /* Safari */
   display: flex;
}

.home-cta1, .home-cta2, .home-cta3 {
	float:left;
	width:32%;
	margin-right:2%;
	background-color:#fff;
	border-radius:3px;
	border-bottom:7px solid #DE6150;
	padding:20px 3% 30px 3%;
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.home-cta1 {
	background-image: url('../images/icon_started.png');
	background-repeat: no-repeat;
	background-position: center 5px;
	background-size: auto 60px;
}

.home-cta2 {
	background-image: url('../images/icon_using.png');
	background-repeat: no-repeat;
	background-position: center 10px;
	background-size: auto 55px;
}

.home-cta3 {
	margin-right:0;
}

.home-cta3 {
	background-image: url('../images/icon_contribute.png');
	background-repeat: no-repeat;
	background-position: center 2px;
	background-size: auto 65px;
}

.home-cta1 img, .home-cta2 img, .home-cta3 img {
	max-width:100%;
	width:85px;
}

.home-cta1 h2, .home-cta2 h2, .home-cta3 h2 {
	text-align:center;
	font-size:20px;
	margin:0px 0 20px 0!important;
	padding-top:50px;
}

.home-cta1 ul, .home-cta2 ul, .home-cta3 ul {
	margin:0 0 0 0;
	padding-left:20px;
}

.home-recent {
	float:left;
	width:100%;
	display:flex;
}

.home-recent h2 {
	background-color:#5C566B;
	color:#fff!important;
	margin:0 0 0 0!important;
	text-transform: uppercase;
	font-size:13px;
	letter-spacing:1.5px;
	text-align: center;
	float:left;
	width:100%;
	padding:10px 3% 10px 3%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.home-recent h4.hd {
	background-color:#F4EBE9;
	text-align: center;
	margin:0 0 15px 0 !important;
	font-size:11px;
	padding:7px 3% 7px 3%;
	float:left;
	width:100%;
	letter-spacing:1px;
	text-transform: uppercase;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* BLOG POSTS */

.blog_wrap {
	float:left;
	width:94%;
	padding-left:3%;
	padding-right:3%;
}

.home-blog-latest {
	float:left;
	/*width:48%;*/
	margin-right:1%;
	border:1px solid #5C566B;
	border-radius:5px;
}

.home-blog-latest p.author {
	font-size:12px;
}

.home-blog-latest h3 {
	float:left;
	width:100%;
	margin:0 0 6px 0!important;
}

.home-blog-latest a.more {
	display: inline-block;
	margin-bottom:10px;
}


/* RECENTLY EDITED */

.edit_wrap {
	float:left;
	width:94%;
	padding-left:3%;
	padding-right:3%;
}

.home-recently-edited {
	float:right;
	/*width:48%;*/
	border:1px solid #5C566B;
	border-radius:5px;
	margin-left:1%;
}

.home-recently-edited .fa-github {
	font-size:18px!important;
}

.home-recently-edited p.author {
	font-size:12px;
}

.home-recently-edited h3 {
	float:left;
	width:100%;
	margin:0 0 6px 0!important;
}

.home-recently-edited h4.hd {
	float:left;
	width:100%;
	margin:10px 0 15px 0!important;
}

.home-recently-edited h4:first-of-type {
	margin-top:0!important;
}

.home-recently-edited a.more {
	display: inline-block;
	margin-bottom:10px;
}

.home-recently-edited ul {
	padding:0;
	margin-top:0;
}

.home-recently-edited ul li {
	list-style-type: none;
}

@media screen and (max-width: 660px) {
	.home-ctas {
		display: block;
		margin-bottom:20px;
	}
	.home-cta1, .home-cta2, .home-cta3 {
		margin-right:0;
		width:100%;
		margin-bottom:20px;
	}
	.home-cta3 {
		margin-bottom:0;
	}
	h1.home-title {
		font-size:23px;
		text-align: center;
		background-position: center 15px;
		padding:85px 0 12px 0;
	}
	.home-title-wrap {
		padding-top:0;
		padding-bottom:10px;
		margin-bottom:20px;
		background-image: none;
	}

}

@media screen and (max-width: 600px) {
	.home-recent {
		display: block;
	}
	.home-blog-latest {
		width:100%;
		margin-bottom:10px;
		margin-right:0;	
	}
	.home-recently-edited {
		width:100%;	
		margin-left:0;
	}
}


/*//-- MEDIA QUERIES --//*/

@media only all and (min-width: 48em) and (max-width: 59.938em) {
   body #chapter h1 {
    	font-size: 3.0rem;
   }
}
@media only all and (max-width: 59.938em) {
   body #chapter h1 {
   	font-size: 2.0rem;
   }
}

@media only all and (max-width: 59.938em) {
   #sidebar-toggle-span {
      display: inline;
   }
   a#sidebar-toggle {
	   border:none!important;
   }
}

/* amended */
@media only all and (max-width: 59.938em) {
   #body .padding {
      position: relative;
      padding:20px 5% 20px 5%;
   } 
}

/* amended */
@media only all and (max-width: 47.938em) {
   #body .padding {
      padding:20px 5% 0px 5%;
   }
   #topmenu li {
	  letter-spacing:0px;
   }
}

/* amended */
@media only all and (max-width: 59.938em) {
   #body #navigation {
      position: static;
      margin-right: 0 !important;
      width: 100%;
      display: table;
      padding-left:5%;
      padding-right:5%;
   }
    #body .nav.nav-next {
	   background-position: right center;
	}
	#body .nav.nav-prev {
	   background-position: left center;
	}
}

@media only all and (max-width: 59.938em) {
   #body .nav {
      display: table-cell;
      position: static;
      top: auto;
      width: 50%;
      text-align: center;
      height: 80px;
      line-height: 80px;
      padding-top: 0;
   }
   #body .nav > i {
      display: inline-block;
   }
}

@media only all and (max-width: 47.938em) {
   .two-column-bullet {
      width: 100%;
   }
}
.three-column-bullet {
   width: 33.33333%;
}

@media only all and (max-width: 47.938em) {
   .three-column-bullet {
      width: 100%;
   }
}

.four-column-bullet {
   width: 25%;
}

@media only all and (max-width: 47.938em) {
   .four-column-bullet {
      width: 100%;
   }
}



/* amended */
@media only all and (max-width: 59.938em) {
   #sidebar {
      width: 30%;
   }
   #body {
      margin-left:0;
      width:70%;
   }
   #topmenu {
	   font-size:13px!important;
	   width:70%;
   }
   #topmenu li a {
	   padding: 12px 10px;
	}
	#topmenu li.guide_start {
		padding: 12px 5px 10px 10px;	
	}
	#topmenu li a {
	  font-size:13px!important;
	}   
}

/*@media only all and (max-width: 47.938em) {*/
@media only all and (max-width: 59.938em) {
   nav.webnav {
	   display:none;
   }
   
   nav.webnav.mini {
	   display: block;
	   z-index:10;
	   width:100%;
	   padding:15px 3%;
   }
   
   nav.webnav.mini ul {
	   text-align: right;
	   float:right;
	   width:auto;
   }
   
   nav.webnav.mini img {
	   width:150px;
	   float:left;
   }
   
   #sidebar {
      width: 300px;
      left: -300px;
      z-index:9999;
   }
   #body {
      margin-left: 0;
      width: 100%;
   }
   #topmenu {
	   width:100%;
   }
   .sidebar-hidden {
      overflow: hidden;
   }
   .sidebar-hidden #sidebar {
      left: 0;
   }
   .sidebar-hidden #body {
      margin-left: 300px;
      overflow: hidden;
   }
   .sidebar-hidden #overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 10;
      background: rgba(255, 255, 255, 0.5);
      cursor: pointer;
   }
}

@media only all and (max-width: 610px) {
	#topmenu ul.menu_mobile {
		display: block;
	}
	#topmenu ul.menu_desktop {
		display: none;
	}
}


@media only all and (max-width: 370px) {
	nav.webnav.mini ul {
	   text-align: center;
	   float:left;
	   width:100%;
   }
   
   nav.webnav.mini {
	   text-align: center;
   }
   
   nav.webnav.mini img {
	   width:120px;
	   float:none;
	   margin-bottom:5px;
   }
   
   nav.webnav li.download a {
	   font-size:11px;
	   padding:3px 8px;
   }
	
}




 /* buttons */
 
.button, .button-secondary {
    margin:0 3px 0 3px;
    padding: 0px 10px;
}

.button {
    background-color:transparent;
    color: var(--MAIN-LINK-color);
    box-shadow: none;
    border-radius:3px;
    border:1px solid var(--MAIN-LINK-color);
}

.button:hover {
    box-shadow: none;
    color: var(--MAIN-LINK-color);
    background-color:transparent;
}

.button:active {
    box-shadow: none;
}

.button-secondary {
    background-color:transparent;
    color: var(--MAIN-LINK-color);
    box-shadow: none;
    border-radius:3px;
    border:1px solid var(--MAIN-LINK-color);
}

.button-secondary:hover {
    box-shadow: none;
    color: var(--MAIN-LINK-color);
    background-color:transparent;
}

.button-secondary:active {
    box-shadow: none;
}

/* tables with no styles */
table.frame-none {
	border:none;
	background-color: transparent;
	width:auto;
}

table.frame-none td {
	border:none;
	padding:0;
}

div.license {
   position:absolute;
   bottom:0;
   height:20px;  
   color:#CCC;
   text-align:center;
   width:75%;
}

div.license a {
   color: #999;
}

div.license p {
   font-size: smaller;
}
