
<div class="">
<h2>ByLastMod</h2>
    {{ $byLastMod :=  .Site.RegularPages.ByLastmod  }}
    {{ $recent := ($byLastMod | last 5).Reverse }}


    <ol>
    {{ range $byLastMod }}
      <li>
        <p class="" style="margin:0 0;">
           File <b>{{ .Title  }}</b> Lastmod date is <b>{{ .Lastmod }}</b> 
        </p>
      </li>
    {{ end }}
    </ol>

<h2>Recently Edited</h2>
    <ol>
    {{ range $recent }}
      <li>
        <h4 class="">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h4>
        <p class="">
           Edited on the {{ .Lastmod.Format "2 January" }} in commit <b>"{{ with .GitInfo }}{{ .Subject }}{{ else }}[Commit description]{{ end }}"</b>  
           <a href="https://github.com/salesagility/SuiteDocs/commit/{{.GitInfo.Hash}}" target="_blank"><i class="fa fa-github"></i></a>
        </p>
      </li>
    {{ end }}
    </ol>


</div>
