<h2>Latest Posts</h2>
<h4 class="hd">from our Technical Blog</h4>

<div class="blog_wrap">
{{ range first 3 ( sort (where .Data.Pages "Section" "blog") "Date" "desc" ) }}
  <h3><a href="{{ .URL }}">{{ .Params.title }}</a></h3>
  <p class="author">
    {{ if .Params.Author }}By {{ .Params.Author }} | {{ end }}{{ .Date.Format "January 2, 2006" }}{{ partial "tags.html" . }}
  </p>
  {{ .Summary }}
  {{ if .Truncated }}
  <p>
    <a class="more" href="{{ .RelPermalink }}">Read More ></a>
  </p>
  {{ end }}
{{ end }}
</div>