{{/*
 {{ partial "suitecrm.com-menu.html" }}
*/}}

<nav class="webnav mini">
	<a href="https://suitecrm.com"><img src="/images/suitecrm-logo.png" alt="SuiteCRM"></a>
	<ul>	
		<li class="download"><a href="https://suitecrm.com/demo/">Demo</a></li>
		<li class="download"><a href="https://suitecrm.com/download/">Download</a></li>
	</ul>
</nav>

<nav class="webnav">
	<ul>
	   
	  <li><a>Solutions</a>
	    <ul>
	      <li><a>Role</a>
	      	<ul>
	          <li><a href="https://suitecrm.com/solutions/role/sales/">Sales</a></li>
	          <li><a href="https://suitecrm.com/solutions/role/marketing/">Marketing</a></li>
	          <li><a href="https://suitecrm.com/solutions/role/service/">Service</a></li>
	          <li><a href="https://suitecrm.com/solutions/role/it/">IT</a></li>
	        </ul>
	      </li>
	      <li><a>Business Type</a>
	      	<ul>
	          <li><a href="https://suitecrm.com/solutions/business-type/enterprise/">Enterprise</a></li>
	          <li><a href="https://suitecrm.com/solutions/business-type/smb/">SMB</a></li>
	          <li><a href="https://suitecrm.com/solutions/business-type/nonprofit/">Nonprofit</a></li>
	          <li><a href="https://suitecrm.com/solutions/business-type/startups/">Startups</a></li>
	        </ul>
	      </li>
	      <li><a>Industry</a>
	      	<ul>
	          <li><a href="https://suitecrm.com/solutions/industry/finance/">Finance</a></li>
	          <li><a href="https://suitecrm.com/solutions/industry/manufacturing/">Manufacturing</a></li>
	          <li><a href="https://suitecrm.com/solutions/industry/healthcare/">Healthcare</a></li>
	          <li><a href="https://suitecrm.com/solutions/industry/retail/">Retail</a></li>
	          <li><a href="https://suitecrm.com/solutions/industry/travel/">Travel</a></li>
	          <li><a href="https://suitecrm.com/solutions/industry/public-sector/">Public Sector</a></li>
	        </ul>
	      </li>
	      <li><a>Need</a>
	        <ul>
	          <li><a href="https://suitecrm.com/solutions/compare-with-salesforce/">Compare with Salesforce</a></li>
	          <li><a href="https://suitecrm.com/solutions/compare-with-microsoft-dynamics/">Compare with Microsoft Dynamics</a></li>
	        </ul>
	      </li>
	    </ul>
	  </li>
	  
	  <li><a>Enterprise</a>
	    <ul>
	      <li><a>SuiteCRM Services</a>
	      	<ul>
	          <li><a href="https://suitecrm.com/enterprise/support-plans/">Support Plans</a></li>
	          <li><a href="https://suitecrm.com/crm-consultancy-and-solution-design/">Consultancy and Solution Design</a></li>
	          <li><a href="https://suitecrm.com/enterprise/customisation/">Customisation</a></li>
	          <li><a href="https://suitecrm.com/enterprise/migrations/">Migrations</a></li>
	          <li><a href="https://suitecrm.com/enterprise/training/">Training</a></li>
	        </ul>
	      </li>
	    </ul>
	  </li>
	  
	  <li><a>Resources</a>
	    <ul>
	      <li><a href="https://suitecrm.com/suitecrm/forum">Forum</a></li>
	      <li><a href="https://suitecrm.com/wiki/index.php/Userguide">User Guide</a></li>
	      <li><a href="https://suitecrm.com/wiki/index.php/Installation">Installation Guide</a></li>
	      <li><a href="https://suitecrm.com/wiki/index.php/Developer_Guide">Developer Guide</a></li>
	      <li><a href="https://crowdin.com/project/suitecrmtranslations">Translations</a></li>
	      <li><a href="https://store.suitecrm.com/?tag=suitecrm">Store (add ons)</a></li>
	    </ul>
	  </li>
	  
	  <li><a>Join the project</a>
	  	<ul>
	      <li><a href="https://suitecrm.com/join-the-project/participate/">Participate</a></li>
	      <li><a href="https://suitecrm.com/join-the-project/always-open-source/">Always Open Source</a></li>
	      <li><a href="https://github.com/salesagility/SuiteCRM">Github</a></li>
	    </ul>
	  </li>
	  
	  <li><a>About</a>
	  	<ul>
	      <li><a>About us</a>
	      	<ul>
			      <li><a href="https://suitecrm.com/about/about-us/facts-and-numbers/">Facts and Numbers</a></li>
			      <li><a href="https://suitecrm.com/about/about-us/salesagility/">SalesAgility</a></li>
			      <li><a href="https://suitecrm.com/about/about-us/partners/">Partners</a></li>
			       <li><a href="https://suitecrm.com/suitecrm/download/index.php?option=com_users&view=registration&Itemid=1292">Login</a></li>
			    </ul>
	      </li>
	      <li><a>Newsroom</a>
	      	<ul>
			      <li><a href="https://suitecrm.com/about/newsroom/news/">News</a></li>
			      <li><a href="https://suitecrm.com/about/newsroom/events/">Events</a></li>
			      <li><a href="https://suitecrm.com/about/newsroom/case-studies/">Case Studies</a></li>
			       <li><a href="https://suitecrm.com/about/newsroom/press/">Press</a></li>
			    </ul>
	      </li>
	      <li><a href="https://suitecrm.com/about/about-us/contact/">Contact us</a></li>
	    </ul>
	  </li>
	  
	  <li><a href="https://suitecrm.com/demo/">Demo</a></li>
	  
	  <li class="download"><a href="https://suitecrm.com/download/">Download</a></li>
	  
	  <a href="https://suitecrm.com/suitecrm-master-classes/" class="fusion-bar-highlight" aria-haspopup="true" style="line-height: 100px; height: 103px;"><span class="menu-text fusion-button button-default button-small"><span class="button-icon-divider-left"><i class="fa glyphicon fa-video-camera"></i></span><span class="fusion-button-text-left">SuiteCRM Master Classes</span></span></a>		
	</ul>
</nav>




<nav id="topmenu" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">
	
	<ul class="menu_desktop">
		<li><a title="Documentation" href="/">{{ i18n "Documentation" }}</a></li><li class="guide guide_start">{{ i18n "Guides" }}:</li><li class="guide"><a title="User Guide" href="/user">{{ i18n "User" }}</a></li><li class="guide"><a title="Developer Guide" href="/developer">{{ i18n "Developer" }}</a></li><li class="guide"><a title="Administrator Guide" href="/admin">{{ i18n "Administrator" }}</a></li><li class="guide guide_end"><a href="/community">{{i18n "Community" }}</a></li><li><a title="Technical Blog" href="/blog">{{ i18n "TechnicalBlog" }}</a></li>
	</ul> 
	
	<ul class="menu_mobile">
		<li><a title="Documentation" href="/">>{{i18n "Documentation" }}</a></li><li><a title="Technical Blog" href="/blog">>{{i18n "Technical Blog" }}</a></li><br><li class="guide guide_start">>{{i18n "Guides"}}:</li><li class="guide"><a title="User Guide" href="/user">>{{i18n "User" }}</a></li><li class="guide"><a title="Developer Guide" href="/developer">>{{i18n "Developer" }}</a></li><li class="guide guide_end"><a title="Administrator Guide" href="/admin">>{{i18n "Admin-SHORT" }}</a></li><li class="guide guide_end"><a href="/community">>{{i18n "Community" }}</a></li>
	</ul>
	
	
</nav>


<nav id="sidebar" class="{{if $.Site.Params.showVisitedLinks }}showVisitedLinks{{end}}">

{{ $currentNode := . }}
{{ $showvisitedlinks := .Site.Params.showVisitedLinks }}
  <div id="header-wrapper">
    <div id="header">
      {{ partial "logo.html" . }}
    </div>
    {{if not .Site.Params.disableSearch}}
        {{ partial "search.html" . }}
    {{end}}
  </div>
	
	<li class="download"><a href="https://suitecrm.com/suitecrm-master-classes/">SuiteCRM Master Classes</a></li>

    {{ if .Site.IsMultiLingual }}
    <section id="lang-selector">
      <hr/>
      <ul>
      {{ if and .Site.IsMultiLingual (not .Site.Params.DisableLanguageSwitchingButton)}}
        <li>
          <a class="padding">
            <i class="fa fa-fw fa-language"></i>
          <div class="select-style">
            <select id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := .Site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
                  {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                      <option id="{{ $translation.Language }}" value="{{ $translation.URL }}" selected>{{ .LanguageName }}</option>
                    {{ else }}
                      <option id="{{ $translation.Language }}" value="{{ $translation.URL }}">{{ .LanguageName }}</option>
                    {{ end }}
                  {{ end }}
              {{ end }}
          {{ end }}
          <option id="translate-cta" value="/community/contributing-to-docs/translate/">--> Help Translate!</option>
        </select>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          width="255px" height="255px" viewBox="0 0 255 255" style="enable-background:new 0 0 255 255;" xml:space="preserve">
          <g>
            <g id="arrow-drop-down">
              <polygon points="0,63.75 127.5,191.25 255,63.75 		" />
            </g>
          </g>
        </svg>
        </div>
        </a>
        </li>
      {{end}} 
      </ul>
    </section>
    {{ end }}

    <div class="highlightable">
    <ul class="topics">

        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{range .Site.Home.Sections.ByTitle}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{end}}
        {{else}}
          {{range .Site.Home.Sections.ByWeight}}
          {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks}}
          {{end}}
        {{end}} 
    </ul>

    {{ $disableShortcutsTitle := .Site.Params.DisableShortcutsTitle}}
    {{with .Site.Menus.shortcuts}}
      <section id="shortcuts">
        <h3>{{ if not $disableShortcutsTitle}}{{ T "Shortcuts-Title"}}{{ end }}</h3>
        <ul>
          {{ range sort . "Weight"}}
              <li class="" role=""> 
                  {{.Pre}}<a class="padding" href="{{.URL | absLangURL }}">{{safeHTML .Name}}</a>{{.Post}}
              </li>
          {{end}}
        </ul>
      </section>
    {{end}}

    {{ if $showvisitedlinks }}
    <section id="prefooter">
      <hr/>
      <ul>
      {{ if $showvisitedlinks}}
        <li><a class="padding" href="#" data-clear-history-toggle=""><i class="fa fa-fw fa-history"></i> {{T "Clear-History"}}</a></li>         
      {{ end }}
      </ul>
    </section>
    {{ end }}
    <section id="footer">
      {{ partial "menu-footer.html" . }}
    </section>
  </div>
</nav>

<!-- templates -->
{{ define "section-tree-nav" }}
{{ $showvisitedlinks := .showvisitedlinks }}
{{ $currentNode := .currentnode }}
 {{with .sect}}
  {{if .IsSection}}
    {{safeHTML .Params.head}}
    <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item 
        {{if .IsAncestor $currentNode }}parent{{end}}
        {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}
        {{if .Params.alwaysopen}}parent{{end}}
        ">
      <a href="{{.RelPermalink}}">
          {{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}
          {{ if $showvisitedlinks}}
            <i class="fa fa-check read-icon"></i>
          {{ end }}
      </a>
      {{ $numberOfPages := (add (len .Pages) (len .Sections)) }}
      {{ if ne $numberOfPages 0 }}
        <ul>
          {{ .Scratch.Set "pages" .Pages }}
          {{ if .Sections}}
            {{ .Scratch.Set "pages" (.Pages | union .Sections) }}
          {{end}}
          {{ $pages := (.Scratch.Get "pages") }}
          
        {{if eq .Site.Params.ordersectionsby "title"}}  
          {{ range $pages.ByTitle }}
            {{ if and .Params.hidden (not $.showhidden) }} 
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{else}}
          {{ range $pages.ByWeight }}
            {{ if and .Params.hidden (not $.showhidden) }} 
            {{else}}
            {{ template "section-tree-nav" dict "sect" . "currentnode" $currentNode "showvisitedlinks" $showvisitedlinks }}
            {{end}}
          {{ end }}
        {{end}}
        </ul>
      {{ end }}        
    </li>
  {{else}}
    {{ if not .Params.Hidden }}
      <li data-nav-id="{{.URL}}" title="{{.Title}}" class="dd-item {{if eq .UniqueID $currentNode.UniqueID}}active{{end}}">
        <a href="{{ .RelPermalink}}">
        {{safeHTML .Params.Pre}}{{.Title}}{{safeHTML .Params.Post}}
        {{ if $showvisitedlinks}}<i class="fa fa-check read-icon"></i>{{end}}
        </a>
    </li>
     {{ end }}
  {{end}}
 {{ end }}
{{ end }}

