{{ partial "header.html" . }}

<span id="sidebar-toggle-span">
<a href="#" data-proofer-ignore id="sidebar-toggle" data-sidebar-toggle=""><i class="fa fa-bars"></i> {{ T "navigation" }}</a>
</span>

<div class="home-title-wrap">
	<h1 class="home-title">{{ T "suitedocs-title" }}</h1>
</div>

<div class="home-ctas">
     <div class="home-cta1">
          {{ partial "home-cta1.html" . }}
     </div>
     <div class="home-cta2">
          {{ partial "home-cta2.html" . }}
     </div>
     <div class="home-cta3">
          {{ partial "home-cta3.html" . }}
     </div>
</div>

<!--
<div class="home-row2">
     <div class="home-cta4">
          {{ partial "home-cta4.html" . }}
     </div>
</div>
-->

<div class="home-recent">
     <div class="home-blog-latest">
          {{ partial "last-blog-posts.html" . }}
     </div>
     <div class="home-recently-edited">
          {{ partial "recently-edited.html" . }}
     </div>
</div>

{{ partial "footer.html" . }}
