{{/*
--------------------
Shortcode usage:

{% ghcontributors user1 user2 user3 %}}

(You can use an indefinite number of parameters)
-------------------
*/}}

<style type="text/css">
.ghContributors {
  display:flex;
  flex-flow: row wrap;
  align-content: flex-start;
}
.ghContributors > div {
  display: inline-flex;
  margin: 5px 5px;
}
</style>
<div class="ghContributors">
{{ range .Params }}
  {{ $git_user := . }}
  {{ $u := getJSON "https://api.github.com/users/" $git_user }}
<div>
    <div style="float:top;">
      <a href="{{$u.avatar_url}}" data-featherlight="image">
      <img src="{{$u.avatar_url}}" class="inline" style="width: 50px;height: 50px;margin-bottom:.25em; vertical-align:middle;">
    </a>
    <div><a href="{{$u.html_url}}"  class="highlight">{{$u.login}}</a></div>
    </div>
  </div>
{{ end }}
</div>
